<h1>Post information!</h1>

<div>
    <div class='wrapperpost'>
        <h2>Post:<%=@post.title %> by <%= @post.author.name%></h2>
        <p>Comments: <%= @post.commentscounter%> Likes: <%= @post.likescounter%></p>
    </div>
     <p><%=@post.text%></p>
</div>
<div class='stylecomments'>
    <% @post.recents_comments.each do |comment|%>
        <ul>
            <li> <%=comment.author.name%>:<%=comment.text%></li>
        </ul>
    <%end%>
</div>

    <button class='buttonstyle' type='button'>
        <%=link_to new_comment_path(@comment) do%>
            Create Comment
    <% end %>
    </button>
    <%= form_with url: user_post_likes_path(@post,@user), model: @like , method: :post ,scope: :like do |f| %>
        <%= f.submit "Create Like" %>
    <% end %>
