<h1>Post information!</h1>

<div>
    <div class='wrapperpost'>
        <h2>Post:<%=@post.title %> by <%= @post.author.name%></h2>
        <p>Comments: <%= @post.comments_counter%> Likes: <%= @post.likes_counter%></p>
    </div>
     <p><%=@post.text%></p>
</div>
<div class='stylecomments'>
    <% @post.recents_comments.each do |comment|%>
        <ul>
            <li> <%=comment.author.name%>:<%=comment.text%></li>
        </ul>
    <%end%>
</div>

    <button class='buttonstyle' type='button'>
        <%=link_to new_user_post_comment_path(@user,@post) do%>
            Create Comment
    <% end %>
    </button>
    <%= form_with url: user_post_likes_path(user_id:params[:user_id], post_id: params[:id]), model: @like , method: :post do |f| %>
        <%= f.hidden_field :post_id , value: @post.id %>
         <%= f.hidden_field :author_id , value: @user.id %>
        <%= f.submit "Create Like" %>
    <% end %>
